<%- include("../partials/header.ejs") %>

  <body style="background-color: rgb(255, 255, 255);">
    <%- include("../partials/admbar.ejs") %>
   
    <div  class="container">
      <div class="mt-5">
        
          <h4><a href="/adm">Painel Administrativo</a> > Pedidos</h4>
         
      <hr>

      <div class="col">
        <a class="btn btn-primary mt-2" href="/adm/Adicionar">Castrar Item</a>
        <a  class="btn btn-primary mt-2 " href="/adm/pedidos">Pedidos Realizados</a>
        <a  class="btn btn-primary mt-2 " href="/adm/vendas">Vendas em aberto</a>
        <a  class="btn btn-primary mt-2 " href="/adm/vendasFinalizadas">Vendas Finalizadas</a>
      </div>
  
      
      </div>
   
      <table class="table mt-5">
        <thead class="table-dark">
          <tr>
         
            <th scope="col">Descrição</th>
          
            <th scope="col">Status</th>
            <th scope="col">Endereço</th>
            
            <th scope="col">Valor</th>
            <th scope="col">Data</th>
            
          </tr>
        </thead>
        <div class="jumbotron jumbotron-fluid mt-4">
          <div class="container">
            <h1 class="display-4">Pedidos </h1>
            <p class="lead">Aqui estão listados todos os pedidos ja feitos e pagos que estão aguardado envio.</p>
          </div>
        </div>
        <tbody>

          <% pedidos.forEach((prod)=>{%>
            <%if(prod.status =="P"){%>
              
            <tr style="cursor:pointer;" onclick="window.location='/adm/info/<%= prod.id%>';">
             
              <td><%= prod.desc %></td>
              
              <td>Pago</td>
              <td><%= prod.endereco %></td>
              <td>R$ <%= prod.valor %></td>
              <td> <%=  `${prod.createdAt.getDate()}/${prod.createdAt.getMonth()+1}/${prod.createdAt.getFullYear()} ${prod.createdAt.getHours()}:${prod.createdAt.getMinutes()}`   
                 %></td>
            </tr>
            <%}%>
            <% }) %>

        
         
          
        </tbody>
      </table>
     </div >
     <% %>
      <div style="margin-bottom: 15%;"></div>
    
     <%- include('../partials/footer.ejs') %> 
  </body>


  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
 
  
  <script>
    function confirma(event, form) {
        event.preventDefault();
        var teste = confirm("Você quer deletar?")
        if (teste) {

          
        window.location = form.href;
        }
    }
  </script>

  
  </html>